<% if @user.favorited_by?(current_user) %>
        <p>
          <%= link_to user_favorites_path(@user), method: :delete, remote: true do %>
            ♥<%= @user.favorites.count %> いいね
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to user_favorites_path(@user), method: :post, remote: true do %>
            ♡<%= @user.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>