<table class="table table-light table-hover table-borderless border">
  <thead class="table-active">
    <tr>
      <th class="text-center text-white bg-dark">ジャンル検索</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr class="text-center">
        <td>
        <%= link_to user_search_path('search[value]': user.genre, 'search[how]': "match"), class: "text-reset text-decoration-none" do %>
          <div class="px-3"><%= user.genre =%></div>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>