<div class = "container">
  <div class = "row">
    <div class = "col-6">
      <table class = "table table-borderless">
        <tr>
          <td>
              <%= link_to "編集する", edit_user_path(current_user.id) %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td><strong>開始日時</strong></td>
          <td>開始</td>
        </tr>
        <tr>
          <td><strong>終了日時</strong></td>
          <td>終了</td>
        </tr>
        <tr>
          <td>イベント名</td>
          <td>なまえ</td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td>じょんる</td>
        </tr>
        <tr>
          <td>詳細</td>
          <td>かくかくしかじか</td>
        </tr>
      </table>
    </div>

    <div class = "col-5">
      <table class = "table table-borderless">
        <tr>
          <td>達成の有無</td>
          <td>多分</td>
        </tr>
        <tr>
          <td>達成できなかった理由</td>
          <td>なんでかな？</td>
        </tr>
      </table>
    </div>
  </div>
</div>
