<div class = "container">
  <div class = "row" style = "margin: 200px;">
    <table class = "table table-borderless">
      <tr>
        <td>
          <h3 class = "col text-center">
      当サイトでは運動不足で悩んでいるけど<br>
      予定の立て方がわからない<br>
      他の人のスケジュールを立てるときのポイント<br>
      等々を共有するサイトです<br>
      計画的な運動をし健康的な生活を送りましょう<br>
    </h3>
        </td>
      </tr>
      <tr>
        <td class = "col text-center">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
        </td>
      </tr>
    </table>

  </div>
</div>