<div class = "container">
  <div class = "row">
    <div>
      当サイトでは運動不足で悩んでいるけど<br>
      予定の立て方がわからない<br>
      他の人のスケジュールを立てるときのポイント<br>
      等々を共有するサイトです<br>
    </div>
  </div>
  <div class = "row">
    <div class = "col-3"><%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %></div>
    <div class = "col-3"><%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %></div>
  </div>
</div>